@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
   --blue:rgb(3, 19, 70);
   --red: rgb(235, 103, 103);
   --orange:rgb(241, 143, 143);
   --black:#333;
   --white: rgba(182, 181, 181, 0.753);
   --light-bg:rgb(245, 236, 226);
   --box-shadow:0 5px 10px rgba(0,0,0,.1);
   --border:2px solid rgba(51, 51, 51, 0.808);
   --lightblue : rgb(5, 39, 141) ; 
}

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border: none;
   text-decoration: none;
}

*::-webkit-scrollbar{
   width: 10px;
   height: 5px;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: var(--blue);
}
html{
   font-size: 62.5%;
   overflow-x: hidden;
}
body{
   background-color: var(--light-bg);
}

.header{
   background: linear-gradient(180deg, var(--blue) , var(--lightblue) , blue);
   position: sticky;
   top:0; left:0;
   z-index: 1000;
}

.header:hover{
   background-color: var(--lightblue);
}

.header .flex{
   display: flex;
   align-items: center;
   padding:1.5rem 2rem;
   max-width: 1200px;
   margin:0 auto;
}

.header .flex .logo{
   margin-right: auto;
   font-size: 2.5rem;
   color:var(--white);
   font-weight: 600;
   font-size: large;
   color: #fff;
}
.logo:hover{
   color: rgb(112, 5, 5);
}
.logo span{
   color: var(--red);
} 

.header .flex .navbar a{
   margin-left: 2rem;
   font-size: 2rem;
   color:var(--white);
}

.header .flex .navbar a:hover{
   color:yellow;
}

.header .flex .cart{
   margin-left: 2rem;
   font-size: 2rem;
   color:var(--white);
}

.header .flex .cart:hover{
   color:yellow;
}

.header .flex .cart span{
   padding:.1rem .5rem;
   border-radius: .5rem;
   background-color: var(--white);
   color:var(--blue);
   font-size: 2rem;
}

#menu-btn{
   margin-left: 2rem;
   font-size: 3rem;
   cursor: pointer;
   color:var(--white);
   display: none;
}


.message{
   position: sticky;
   top:0; left:0; right:0;
   padding:15px 10px;
   background-color: var(--white);
   text-align: center;
   z-index: 1000;
   box-shadow: var(--box-shadow);
   color:var(--black);
   font-size: 20px;
   text-transform: capitalize;
   cursor: pointer;
}

.btn,
.delete-btn,
.option-btn{
   display: inline-block;
   padding:10px 30px;
   cursor: pointer;
   font-size: 18px;
   color:#fff;
   border-radius: 5px;
   text-transform: capitalize;
}

.btn:hover{
   background-color: var(--lightblue);
}
.delete-btn:hover,
.option-btn:hover{
   background-color: var(--black);
}

.btn{
   background-color: var(--blue);
   margin-top: 10px;
}

.delete-btn{
   background-color: var(--red);
}

.option-btn{
   background-color: var(--orange);
}
.rating .bi{
   color: #ff963b;
   font-size: 15px;    
  }
.form-container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 70px;
}

.form-container form{
   width: 500px;
   border-radius: 5px;
   border:none;
   padding:20px;
   text-align: center;
   background-color: var(--white);
}

.form-container form h3{
   font-size: 30px;
   margin-bottom: 10px;
   text-transform: uppercase;
   color:var(--black);
}
.fulimg img{
   height: 19rem;
   width: 100%;
   opacity: 0.7;
}
.form-container form .box{
   width: 100%;
   border-radius: 5px;
   border: none;
   padding:12px 14px;
   font-size: 18px;
   margin:10px 0;
}

.form-container form p{
   margin-top: 20px;
   font-size: 20px;
   color:var(--black);
}

.form-container form p a{
   color:var(--red);
}

.form-container form p a:hover{
   text-decoration: underline;
}

.container{
   padding:0 20px;
   margin:0 auto;
   max-width: 1200px;
   padding-bottom: 70px;
}

.container .heading{
   text-align: center;
   margin-bottom: 20px;
   font-size: 40px;
   text-transform: uppercase;
   color:var(--black);
}

.container .user-profile{
   padding:20px;
   text-align: center;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: 5px;
   margin:20px auto;
   max-width: 500px;
}

.container .user-profile p{
   margin-bottom: 10px;
   font-size: 25px;
   color:var(--black);
}

.container .user-profile p span{
   color:var(--red);
}

.container .user-profile .flex{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap:10px;
   align-items: flex-end;
}
.flexbox{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}
.container .products .box-container{
   display: flex;
   flex-wrap: wrap;
   gap:15px;
   justify-content: center;
}

.container .products .box-container .box{
   text-align: center;
   border-radius: 5px;
   box-shadow: var(--box-shadow);
   border:none;
   position: relative;
   padding:20px;
   background-color: var(--white);
   width: 350px;
}

.container .products .box-container .box  img{
   height: 250px;
}

.container .products .box-container .box .name{
   font-size: 20px;
   color:var(--black);
   padding:5px 0;
}

.container .products .box-container .box .price{
   position: absolute;
   top:10px; left:10px;
   padding:5px 10px;
   border-radius: 5px;
   background-color: var(--orange);
   color:#fff;
   font-size: 25px;
}

.container .products .box-container .box input[type="number"]{
   margin:10px 0;
   width: 25%;
   border:none;
   border-radius: 5px;
   font-size: 20px;
   color:var(--black);
   padding:12px 14px
}

.container .shopping-cart{
   padding:20px 0;
}

.container .shopping-cart table{
   width: 100%;
   text-align: center;
   border:none;
   border-radius: 5px;
   box-shadow: var(--box-shadow);
   background-color: var(--white);
}

.container .shopping-cart table thead{
   background-color: var(--black);
}

.container .shopping-cart table thead th{
   padding:10px;
   color:#fff;
   text-transform: capitalize;
   font-size: 20px;
}

.container .shopping-cart table .table-bottom{
   background-color: var(--light-bg);
}

.container .shopping-cart table tr td{
   padding:10px;
   font-size: 20px;
   color:var(--black);
}

.container .shopping-cart table tr td:nth-child(1){
   padding:0;
}

.container .shopping-cart table tr td input[type="number"]{
   width: 80px;
   border:none;
   padding:12px 14px;
   font-size: 20px;
   color:var(--black);
   border-radius: 3px;
}

.container .shopping-cart .cart-btn{
   margin-top: 10px;
   text-align: center;
}

.container .shopping-cart .disabled{
   pointer-events: none;
   background-color: var(--red);
   opacity: .5;
   user-select: none;
}
@media (max-width:1200px){
   .container .shopping-cart{
      overflow-x: scroll;
   }

   .container .shopping-cart table{
      width: 1200px;
   }
}

@media (max-width:450px){
   .container .heading{
      font-size: 30px;
   }
   .container .products .box-container .box img{
      height: 200px;
   }
}
/* products filter css */
 .main {
   max-width: 1000px;
   margin: auto;
 }
 
 .row {
   margin: 10px -16px;
 }
 
 .row,
 .row > .column {
   padding: 8px;
 }
 
 .column {
   float: left;
   width: 33.33%;
   display: none; 
 }

 .row:after {
   content: "";
   display: table;
   clear: both;
 }

 .content {
   background-color: var(--white);
   padding: 10px;
   border-radius: 5px;
 }
 
 .show {
   display: block;
 }
 
 .btn1{
   border: none;
   outline: none;
   padding: 12px 16px;
   background-color: var(--red);
   color: #ffff;
   border-radius: 3px;
   cursor: pointer;
 }
 
 .btn1:hover {
   background-color: var(--orange);
   color: #333;
 }
 
 .btn1.active {
   background-color:var(--blue);
   color: white;
 }
 .btn1.active:hover{
   background-color: var(--lightblue);
 }
/* products filter css */
/*-----------------------footer----------*/
footer{
   background-color: rgb(198, 207, 205);
   padding: 70px 0;
  
}
/* .container{
  background-color: red;
} */
.row{
   display: flex;
   flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer-col{
  width: 25%;
  padding: 0 15px;  
}
.footer-col h4{
  font-size: 18px;
 color: #222;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 600;
  position: relative;
}
.footer-col h4::before{
   content: '';
   position: absolute;
   left: 0;
   
   bottom: -10px;
   background-color: rgb(47, 2, 20);
   height: 2.5px;
   border-radius: 2.5px;
   box-sizing: border-box;
   width: 70px;
}
.footer-col ul li:not(last-child) {
   margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: gray;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #333;
    padding-left: 5px;
}
.footer-col .social .icons i{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.816);
   
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: rgba(51, 51, 51, 0.862);
   
}
.footer-col .social .icons i:hover
{
  background-color: rgba(51, 51, 51, 0.862);
  color: #fff;
}
.footer-col .image{
  height: 150px;
  width: 220px;
 margin-top: 12px;
}

/* responsive */
@media (max-width: 767px) {
  .footer-col{
     width: 50%;
     margin-bottom: 30px;
  }
  
}
@media (max-width: 574px) {
  .footer-col{
     width: 100%;
    
  }
  
}


/*-----------------------footer----------*/